<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
  <img src="img/logo.png">
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/" title="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link title="Drone News" href="/blog/">Drone Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link title="Drone News" href="/news/">Drone News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link title="Buying Guides">Buying Guides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link title="Contact Us">Contact Us</a>
      </li>
    </ul>
  </div>

  

  
</header>